<!doctype html>
<html>
<head>
  <title>Waiting</title>
  <meta charset="utf-8">

  <meta property="og:title" content="waiting" />
  <meta property="og:description" content="고려대학교 '기다리지말조'에서 운영하는 대기 인원 확인 웹사이트"/>

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
        rel="stylesheet">
</head>
<body>
  <h1 onclick="window.location.href='/'">Waiting</h1>
  <div class="flex">
    <div class="items">
      <ul class="list">
        <li onclick="window.location.href='/korea'">한식</li>
        <li onclick="window.location.href='/china'">중식</li>
        <li onclick="window.location.href='/japan'">일식</li>
        <li onclick="window.location.href='/west'">양식</li>
        <li onclick="window.location.href='/ect'">기타</li>
        <li style="color:red" onclick="window.location.href='/my_restaurant'">내 식당</li>
      </ul>
    </div>
    <div class="items" id="contents">
      <h2 style="margin-bottom:30px">Today's Restaurant</h2>
      <img src={{url_for('static', filename='ad.png')}} class="today" onclick="window.location.href='/massplate'">
    </div>
  </div>
</body>
</html>
